<app-navbar [navbarItemList]="menu_usuario_admin"></app-navbar>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12 table-light" style="opacity: 0.9; border-radius: 5px; text-align: center;">
      <table class="table-light"  style="opacity: 0.9; border-radius: 5px; text-align: center;">
        <thead>
          <tr>
            <th scoope="col">Tipo de Publicación</th>
            <th scoope="col">Título</th>
            <th scoope="col">Contenido</th>
            <th scoope="col">Pie</th>
            <th scoope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let publicacion of datos" class="table-row">
            <td>{{ publicacion.tipo}}</td>
            <td>{{ publicacion.titulo}}</td>
            <td>{{ publicacion.contenido}}</td>
            <td>{{ publicacion.pie}}</td>
            <td><button (click)="eliminarP(publicacion._id)" class="btn btn-secondary bt-sm">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<app-footer></app-footer>