<app-navbar [navbarItemList]="menu_usuario_admin"></app-navbar>
<div class="alert alert-primary col-3 mx-auto" role="alert" *ngIf="showMessage" style="text-align: center;">
  {{ alert }}
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12 table-light" style="opacity: 0.9; border-radius: 5px; text-align: center;">
      <table class="table-light"  style="opacity: 0.9; border-radius: 5px; text-align: center;">
        <thead>
          <tr>
            <th scope="col">Colectivo</th>
            <th scope="col">Tipo de Publicación</th>
            <th scope="col">Título</th>
            <th scope="col">Contenido</th>
            <th scope="col">Pie</th>
            <th scope="col">Fecha publicación</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let publicacion of datos" class="table-row">
            <td>{{ publicacion.idColectivo.nombreColectivo}}</td>
            <td>{{ publicacion.tipo}}</td>
            <td>{{ publicacion.titulo}}</td>
            <td>{{ publicacion.contenido}}</td>
            <td>{{ publicacion.pie}}</td>
            <td>{{ format(publicacion.fechaPublicacion)}}</td>
            <td><button (click)="eliminarP(publicacion._id)" class="btn btn-secondary bt-sm">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<app-footer></app-footer>