<app-navbar [navbarItemList]="menu_usuario_general"></app-navbar>

<div class="container-fluid">
  <div class="row justify-content-center">
    <table class="table-light my-auto col-9" style="opacity: 0.9; border-radius: 5px; text-align: center;">
      <thead>
        <tr>
          <th scope="col">Colectivo</th>
          <th scope="col">Título</th>
          <th scope="col">Contenido</th>
          <th scope="col">Pie</th>
          <th scope="col">Fecha publicacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let publicacion of datos" class="table-row">
          <td>{{publicacion.idColectivo.nombreColectivo}}</td>
          <td>{{ publicacion.titulo}}</td>
          <td>{{ publicacion.contenido}}</td>
          <td>{{ publicacion.pie}}</td>
          <td>{{ format(publicacion.fechaPublicacion)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<app-footer></app-footer>
