<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container">
      <img src="./assets/images/logo_sin_fondo.png" class="img-fluid" alt="logo sin fondo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngFor="let ni of navbarItemList">
            <a class="nav-link" aria-current="page" routerLink="{{'/'+ni.routerlink}}" routerLinkActive="active">{{ni.label}}</a>
          </li>
        </ul>
          <li class="navbar-nav ml-auto">
            <ng-container *ngIf="!authService.logueado() else logout">
             <a class="nav-link" routerLink="/task">Página principal</a>
            </ng-container>
            <ng-template #logout>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Cerrar Sesión</a>
              </li>
            </ng-template>
          </li>
        
      </div>
    </div>
  </nav>
