<app-navbar></app-navbar>

<div class="container">

    <div class="row justify-content-around">
        <div class="card col-lg-4 col-md-4 col-sm-12" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Acceso como Usuario</h5>
                <p class="card-text">Accede para estar informado de todas las noticias que ocurren en el mundo cofrade.</p>
                <button class="btn btn-primary bt-sm" routerLink="/login" routerLinkActive="active">Acceder</button>
            </div>
        </div>
    
        <div class="card col-lg-4 col-md-4 col-sm-12" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Acceso como Colectivo</h5>
                <p class="card-text">Accede para publicar tus noticias y mantener informados a tus seguidores.</p>
                <button class="btn btn-primary bt-sm" routerLink="/login-colectivo" routerLinkActive="active">Acceder</button>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-around">
        <div class="card col-lg-4 col-md-4 col-sm-12" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Registro como Usuario</h5>
                <p class="card-text">Empieza a estar a informado de las noticias del mundo cofrade.</p>
                <button class="btn btn-primary bt-sm" routerLink="/registroUser" routerLinkActive="active">Acceder</button>
            </div>
        </div>
    
        <div class="card col-lg-4 col-md-4 col-sm-12" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Registo como Colectivo</h5>
                <p class="card-text">Empieza a publicar información para tus seguidores.</p>
                <button class="btn btn-primary bt-sm" routerLink="/registro-colectivo" routerLinkActive="active">Acceder</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
