<footer>
    <div class="row">
        <div class="col-4">
            <p>Calle Doña Guiomar, 9 41001 - Sevilla</p>
        </div>
        <div class="col-4">
            <p>954756001 - cn2023.contacto@hotmail.com</p>
        </div>
        <div class="col-4">
            <div style="display: flex; justify-content: center;">
                <img class="img-fluid" src="./assets/images/facebook.png" alt="facebook">
                <img class="img-fluid" src="./assets/images/twitter.png" alt="twitter">
                <img class="img-fluid" src="./assets/images/youtube.png" alt="youtube">
                <img class="img-fluid" src="./assets/images/instagram.png" alt="instagram">
            </div>
        </div>
    </div>
</footer>
