<app-navbar [navbarItemList]="menu_usuario_general"></app-navbar>

<div class="container">
  <div *ngFor="let usuario of datos">
    <h5>Espacios que sigues</h5>
    <div *ngFor="let espacio of usuario.espacios" style="display: flex; justify-content: space-around;">
      <div class="card" style="width: 40rem;">
        <div class="card-body">
          <h6 class="card-title">{{espacio.nombre}}</h6>
          <div style="display: flex; justify-content: space-around;">
            <button (click)="redirigir(espacio._id)" class="btn btn-primary bt-sm">Entrar</button>
            <button (click)="abandonar(espacio._id)" class="btn btn-secondary bt-sm">Dejar de seguir</button>
          </div>
        </div>
      </div>
    </div>
</div>
</div>



<app-footer></app-footer>