<app-navbar [navbarItemList]="menu_usuario_general"></app-navbar>
<p>private-task works!</p>

<table>
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Espacio</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of datos">
        <td>{{ usuario.nombre}}</td>
        <div *ngFor="let espacio of usuario.espacios">
            <td>{{espacio.nombre}}</td>
            <td><button (click)="redirigir(espacio._id)" class="btn btn-secondary bt-sm">Entrar</button></td>
            <td><button (click)="abandonar(espacio._id)" class="btn btn-secondary bt-sm">Dejar de seguir</button></td>
        </div>

      </tr>
    </tbody>
  </table> 

<app-footer></app-footer>