<app-navbar [navbarItemList]="menu_usuario_general"></app-navbar>
<div class="container">
  <div *ngFor="let espacio of datos">
    <div class="card col-lg-9 col-md-12 col-sm-12" style="width: 50rem;">
      <div class="card-body">
        <h6 class="card-title">{{espacio.nombre}}</h6>
        <div class="card-body row" style="display: flex; justify-content: space-between;">
          <p class="col-lg-9 col-md-6">{{espacio.descripcion}}</p>
          <button (click)="seguir(espacio._id)" class="col-lg-3 col-md-3 col-sm-12 btn btn-primary bt-sm mx-auto">Seguir</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
