<app-navbar [navbarItemList]="menu_usuario_admin"></app-navbar>
<p>panel-admin works!</p>

<div class="container-fluid" style="margin-bottom: 15px;">
    <button type="button" class="btn btn-secondary" routerLink="/admin-colectivos">COLECTIVOS</button>
    <button type="button" class="btn btn-secondary" routerLink="/admin-espacios">ESPACIOS</button>
    <button type="button" class="btn btn-secondary" routerLink="/admin-usuarios">USUARIOS</button>
    <button type="button" class="btn btn-secondary" routerLink="/admin-publicaciones">PUBLICACIONES</button>
</div>

<app-footer></app-footer>