<app-navbar [navbarItemList]="menu_usuario_colectivo"></app-navbar>

<div class="card mx-auto" style="width: 30rem;">
  <div class="card-body">
    <form>
      <h6>Actualizar mis datos</h6>
      <div *ngFor="let colectivo of datos">
        <div class="form-group" style="display: flex; justify-content: space-around;">
          <label for="" class="col-4">Nombre</label>
          <input class="form-control col-6" type="text" type="text" [(ngModel)]="colectivo.nombreColectivo" name="nombreColectivo" required>
        </div>
        <div class="form-group" style="display: flex; justify-content: space-around;">
          <label for="" class="col-4">Correo</label>
          <input class="form-control col-6" type="text" [(ngModel)]="colectivo.correo" name="correo" required>
        </div>
        <div class="form-group" style="display: flex; justify-content: space-around;">
          <label for="" class="col-4">Año de Fundación</label>
          <input class="form-control col-6" type="text" [(ngModel)]="colectivo.anoFundacion" name="anoFundacion">
        </div>
        <div class="form-group" style="display: flex; justify-content: space-around;">
          <label for="" class="col-4">Descripción</label>
          <textarea class="form-control col-6" name="descripcion" id="" cols="23" rows="5" [(ngModel)]="colectivo.descripcion"></textarea>
        </div>
        <div class="form-group" style="display: flex; justify-content: center;">
          <button type="button" class="btn btn-secondary bt-sm" (click)="actualizarColectivo(colectivo)">Actualizar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>